footer {
  background-color: #fbedf9;
  color: #1d1d1f;

  .link-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 56vw;
    margin: 0 auto;
    border-bottom: 1px solid #86868b;
    div {
      padding-right: 29px;
      padding-bottom: 10px;
    }
  }

  header {
    font-size: 12px;
    font-weight: bold;
    font-family: $main-font;
  }

  .two {
    padding-left: 70px;
  }
  p {
    font-family: $main-font;
    font-size: 12px;
    line-height: 16px;
    color: #6e6e73;
    padding-top: 8px;
    a {
      color: #6e6e73;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .more {
    width: 56vw;
    margin: 0 auto;
    padding-bottom: 10px;
    a {
      color: blue;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    width: 56vw;
    margin: 0 auto;
    .policies {
      display: flex;
      align-content: space-around;
      li {
        font-family: $main-font;
        font-size: 12px;
        text-decoration: none;
        list-style: none;
      }
    }
  }
}
