.page4 {
    height: 150vh;
  
    header {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      font-size: 40px;
      color: #333333;
      font-weight: 800;
      font-family: $main-font;
    }
  
    .parent-top {
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      width: 58vw;
      margin: 0 auto;
      height: 700px;
  
      .div1 {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url("/assets/img/access/MM2D3.png");
        background-position: center 100px;
        background-repeat: no-repeat;
        background-color: #f2f2f2;
        background-size: contain;
        position: relative;
  
        .p-couple {
          text-align: center;
          position: absolute;
          bottom: 60px;
          left: 60px;
  
          p {
            font-family: $main-font;
            padding-bottom: 15px;
            font-size: 17px;
          }
          .new {
            color: #e85d00;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 4;
        background-image: url("/assets/img/access/MM163_FV101.png");
        background-position: center 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #f2f2f2;
        position: relative;
        .p-couple {
          text-align: center;
          position: absolute;
          bottom: 60px;
          left: 225px;
  
          p {
            font-family: $main-font;
            padding-bottom: 15px;
            font-size: 17px;
          }
          .new {
            color: #e85d00;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
  
    .parent-bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      height: 500px;
      width: 58vw;
      margin: 0 auto;
      margin-top: 10px;
    }
  
    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      background-image: url("/assets/img/access/airtag-single-select-202104.png");
      background-repeat: no-repeat;
      background-color: #f2f2f2;
      background-size: 275px 300px;
      background-position: 50% 50px;
      position: relative;
  
      .p-couple {
        text-align: center;
        position: absolute;
        bottom: 38px;
        left: 135px;
  
        p {
          font-family: $main-font;
          padding-bottom: 10px;
          font-size: 17px;
        }
        .new {
          color: #e85d00;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("/assets/img/access/ML5L3ref_FV535.png");
      background-repeat: no-repeat;
      background-color: #f2f2f2;
      background-size: 250px 300px;
      background-position: 50% 50px;
      position: relative;
  
      .p-couple {
        text-align: center;
        position: absolute;
        bottom: 38px;
        left: 110px;
  
        p {
          font-family: $main-font;
          padding-bottom: 8px;
          font-size: 17px;
        }
        .new {
          color: #e85d00;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
      background-image: url("/assets/img/access/MM6J3_FV102.png");
      background-repeat: no-repeat;
      background-color: #f2f2f2;
      background-size: 250px 300px;
      background-position: 50% 50px;
      position: relative;
      .p-couple {
        text-align: center;
        position: absolute;
        bottom: 38px;
        left: 110px;
  
        p {
          font-family: $main-font;
          padding-bottom: 8px;
          font-size: 17px;
        }
        .new {
          color: #e85d00;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  
    .shop {
      text-align: center;
      margin-top: 30px;
      font-family: $access-font;
      font-size: 17px;
      color: #0070c9;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }