@font-face {
  font-family: "SF Pro Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Text Regular"),
    url("/assets/fonts/FontsFree-Net-SFProText-Regular.ttf");
}

$main-font: "SF Pro Text Regular";
$access-font: "SF Pro Display Regular";

@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro Display Regular"),
    url("/assets/fonts/SFProDisplayRegular.woff2") format("woff");
}

