@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  text-align: center;
  background: rgb(29, 29, 29);

  opacity: 0.9;
  backdrop-filter: blur(10px);
  //   filter: blur(2px);

  ul {
    display: flex;
    justify-content: center;

    li {
      justify-content: space-between;
      padding-right: 2.5rem;
      list-style: none;
      font-family: $main-font;
      color: #dfdfe0;
      font-size: 12px;
      font-weight: 400;
      line-height: 44px;
      cursor: pointer;
      a {
        color: #dfdfe0;
      }
    }
    li:hover,
    a:hover {
      color: #ffffff;
      transition: all ease-in-out 0.2s;
    }
  }
}

.white-strip {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px #cccccc solid;
  background-color: white;
  height: 6vh;
  align-items: center;

  p {
    font-size: 24px;
    color: #333333;
    font-family: $access-font;
    padding-left: 60px;
    font-weight: 500;
  }

  a {
    font-family: $main-font;
    font-size: 12px;
    color: #333333;
    padding-right: 100px;
  }
}

// ----- page1 ----- //

.page1 {
  background-image: url("/assets/img/access/airpods-header-accessories-202110.jfif");
  background-position: 600px 400px;
  background-size: 80%;
  height: 43vh;
  .container {
    font-family: $main-font;
    padding-left: 455px;
    padding-top: 40px;
    div {
      padding-top: 20px;
    }
  }
  .p-top {
    color: #bf4800;
    font-size: 24px;
    font-weight: bold;
    // padding-bottom:10px;
  }
  header {
    color: #333333;
    font-size: 48px;
    font-weight: bold;
  }

  .p-middle {
    font-size: 22px;
    color: #333333;
    font-weight: 100;
  }
  a {
    font-size: 22px;
    color: #0070c9;
  }
}

// ----- page2 ----- //

.page2 {
  header {
    text-align: center;
    font-family: $main-font;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    padding-top: 45px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  input[type="search"] {
    width: 725px;
    height: 75px;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 100;
    border-radius: 10px;
  }

  .fontuser {
    position: relative;
  }

  .fontuser i {
    position: absolute;
    left: 15px;
    top: 37px;
    color: gray;
  }
}

// ----- page3 ------ //

.page3 {
  padding-top: 50px;

  p {
    font-size: 17px;
    color: #333333;
    font-family: $main-font;
    display: flex;
    justify-content: center;
    
    width: 400px;
    margin: 0 auto;
  }
  .category-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1100px;
    border-top: 1px solid #333333;
    position: relative;
    height:40vh;
    // border: 2px solid black;
    .images-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height:350px;
      // border: 2px solid black
    }
    
  }

  #border-top {
    border-top: 1px solid #333333;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 375px;
    width: 170px
  }
}
