@import "fonts";
@import "variables";
@import "nav";
@import "page1";
@import "page2";
@import "page3";
@import "page4";
@import "page4";
@import "footer";
// @import "accessories";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
