@import "fonts";
@import "variables";
@import "nav";
@import "page1";
@import "page2";
@import "page3";
@import "page4";
@import "page4";
@import "footer";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// ----- nav ----- //

// ----- page 1 ----- //

// ----- page2 ----- //

// ----- page 3 ----- //



// ------ page4 ------ //



// ------ footer ----- //

